# Allow LiveDisplay to access vendor display property
get_prop(hal_lineage_livedisplay_sysfs, vendor_display_prop)

r_dir_file(hal_lineage_livedisplay_sysfs, sysfs_graphics)
